flask==2.0.1
numpy==1.21.0
Pillow==8.3.1
opencv-python==4.5.3.56
torch==1.9.0
torchvision==0.10.0
scipy
Cython
scikit-image
matplotlib
imgaug>=0.4
albumentations>0.5
graphviz
tqdm
pyyaml
easydict
torch>=1.4.0
torchvision>=0.5.0
tensorboard
future
cffi
ninja
